APP_CONFIG__DB__URL=postgresql+asyncpg://arthur:z1x2c3v4b5@localhost:5432/service-2

APP_CONFIG__BROKER__URL=localhost:9092
APP_CONFIG__BROKER__ACKS=all
APP_CONFIG__BROKER__ENABLE_IDEMPOTENCE=True
APP_CONFIG__BROKER__ENABLE_AUTO_COMMIT=False
APP_CONFIG__BROKER__NOTIFICATION_TOPIC_NAME=notifications
APP_CONFIG__BROKER__DEAD_LETTER_TOPIC_NAME=notifications.dlq
APP_CONFIG__BROKER__LINGER_MS=10
APP_CONFIG__BROKER__AUTO_OFFSET_RESET=earliest
APP_CONFIG__BROKER__MAX_BATCH_SIZE=10
APP_CONFIG__BROKER__POLL_INTERVAL=10
APP_CONFIG__BROKER__GROUP_ID=notification_group
APP_CONFIG__BROKER__MAX_POLL_RECORDS=10